*{
    padding:0%;
    margin:0%;

}
body{
    background-image: url(p.png);
    
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    height: fit-content;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: rgb(238, 1, 80);
    text-decoration-line: none;
    font-family: "amaranth";

}
.navbar{
    font-family: "Amaranth";
    font-size:19px;
    text-align: center;
    color: rgb(230, 37, 3);

}
main{
    height: fit-content;
}
.lok{padding: 250px 350px;
    background-image: url(W.png);
    color:white;
    font-family: "ubuntu";
    font-size:35px;
    text-align: center;
    background-repeat: no-repeat;
    margin-left: 170px;
    margin-right: 170px;
    border-radius: 35px;
    border-style: solid;
}
.map{
    font-family: "Ubuntu";
    text-decoration: none;
    text-emphasis: none;
    font-size: 20px;
    display: inline;
    color: white;
    
}
.map a{
    position: absolute;
    left: 50%;
    margin-top: 15px;
    transform: translateX(-50%);
}
.map img{margin-top: 15px;
    height: 155px;
    border-radius: 50%;
    display: inline-block;
   
}
.map p{margin-top: 35px;
    padding: 20px 50px;
    background-color: rgb(137, 7, 189);
    color: white;
    text-align: right;
    display: inline-block;
    border-radius: 15px;
    animation:.7s step-start;
}