* {
    padding: 0%;
    margin: 0%;
}

body {
    background-image: url("/static/img/p.png");
    background-position: inherit;
    background-size: cover;
}

header {
    height: fit-content;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: rgb(238, 1, 80);
    text-decoration-line: none;
}

h1 {
    text-align: center;
    font-size: 42px;
}

h1:hover {
    color: rgba(250, 18, 88, 0.938);
    transition: 0.4s ease-in-out;
}

.navbar p {
    color: black;
    text-align: center;
    font-size: 14px;
}

.navbar {
    padding: 2%;
    font-size: 30px;
    font-family: "Amaranth";
    color: rgb(238, 1, 80);
    text-decoration: none;
    text-emphasis: none;
    background-color: silver;
    background: transparent;
    transition: 0.7s ease-in;
}

.buton {
    text-align: right;
    font-size: 15px;
    padding: 10px 15px;
    margin-top: -3px;
    border-style: hidden;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    text-emphasis: none;
    float: right;
    background-color: rgba(255, 7, 7, 0.856);
    transition-property: all;
    transition: 0.6s ease-in-out;
}

.buton:hover {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.856);
    background-color: rgb(0, 156, 21);
    transition: 0.6s ease;
    cursor: pointer;
}

main {
    height: fit-content;
    transition: 0.7s ease;
}

.qoutes {
    padding: 25px;
    font-family: "Amaranth";
    font-size: 20px;
    color: rgb(20, 4, 4);
}

h2 {
    text-align: center;
    color: rgb(22, 21, 21);
    font-family: "Amaranth";
    font-size: 25px;
}

h2:hover {
    color: rgb(138, 3, 179);
    cursor: pointer;
}

h3 {
    text-align: center;
    color: rgb(22, 21, 21);
    font-family: "Amaranth";
    font-size: 25px;
}

h3:hover {
    color: rgb(179, 3, 164);
    cursor: pointer;
}

h4 {
    text-align: center;
    color: rgb(22, 21, 21);
    font-family: "Amaranth";
    font-size: 25px;
}

h4:hover {
    color: rgb(185, 7, 105);
    cursor: pointer;
}

.lgin {
    text-align: center;
    font-size: 15px;
}

.lgin a {
    font-family: "Amaranth";
    padding: 7px 16px;
    border-radius: 5px;
    color: white;
    background-color: green;
    text-decoration-line: none;
}

.lgin a:hover {
    background-color: rgba(255, 7, 7, 0.856);
    transition: 0.7s ease-in-out;
}
.flexbox {
    display: flex;
    flex-direction: row;
    border-color: tomato;
}
.flexbox > div {
    padding: 10px;
    max-height: fit-content;
    width: max-content;
    background-color: rgb(5, 5, 5);
    color: white;
    font-family: "Ubuntu";
    line-height: 12px;
    border-color: rgb(233, 54, 22);
    font-size: larger;
    line-height: 25px;
    text-align: justify;
}
h5 {
    font-size: 25px;
    text-align: right;
}
.flexbox > div .plo p {
    font-size: 35px;
    line-height: 15px;
}
img {
    height: 180px;
    width: 150px;
    float: left;
}

footer {
    text-align: center;
    background-color: rgb(155, 31, 62);
    font-size: small;
    font-family: "Amaranth";
    height: 42px;
    width: 100%;
    color: white;
    transition: 0.5s ease-in-out;
    position: fixed;
    bottom: 0%;
}
.lok {
    padding: 250px 350px;
    background-image: url(W.png);
    color: white;
    font-family: "ubuntu";
    font-size: 35px;
    text-align: center;
    background-repeat: no-repeat;
    margin-left: 170px;
    margin-right: 170px;
    border-radius: 35px;
    border-style: solid;
}
.map {
    font-family: "Ubuntu";
    text-decoration: none;
    text-emphasis: none;
    font-size: 20px;
    display: inline;
    color: white;
}
.map a {
    position: absolute;
    left: 50%;
    margin-top: 15px;
    transform: translateX(-50%);
}
.map img {
    margin-top: 15px;
    height: 155px;
    border-radius: 50%;
    display: inline-block;
}
.map p {
    margin-top: 35px;
    padding: 20px 50px;
    background-color: rgb(137, 7, 189);
    color: white;
    text-align: right;
    display: inline-block;
    border-radius: 15px;
}
body * {
    animation: fadein 1s 0.25s both;
}
@keyframes fadein {
    from {
        opacity: 0.25;
        transform: scale(0.95, 0.95);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}
