@import "messages.css";
* {
    padding: 0%;
    margin: 0%;
}

body {
    background-image: url(bg.png);
    background-position: inherit;
    background-size: cover;
}

header {
    padding: 3%;
}

.navbar {
    text-align: center;
    font-family: "Amaranth";
    color: rgb(224, 8, 44);
}

main {
    height: 100vh;
    font-family: "amaranth";
}

.loginbox {
    padding: 5px 35px;
    text-align: center;
    /*background-image: url(r.png);*/
    background-position: center;
    box-sizing: border-box;
}

#txt {
    text-align: center;
    font-size: 20px;
}

#box {
    text-align: center;
    padding: 7px 17px;
    border-radius: 9px;
    border-color: rgb(250, 37, 0);
}

button {
    padding: 5px 20px;
    border-radius: 9px;
    border:  1px solid tomato;
    background-color: white;
    font-family: "Amaranth";
}
button:hover{
    background: tomato;
    color: white;
}
button:active {
    transform: scale(0.95, 0.95);
}

body *{
    animation: fadein 1s 0.25s both;
}
@keyframes fadein {
from{opacity: 0.25;}
to{opacity: 1;}
}