{% extends "dashboard.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/form.js' %}"></script>
{% endblock head %}
{% block title %}
    Find Your Personised Diet
{% endblock title %}
{% block content %}
    <h2>Hai {{ user.first_name }},<br> <small>Give Us Some Information to Plan Your Personalised Diet.</small></h2>
    <form name="dietform" action="/dashboard/mydiet/" method="post" onsubmit="return onSubmit()">
        {% csrf_token %}
        <div class="info-container">
            <div class="info-item" {% if last %}value="{{ last.gender }}" hidden{% endif %}>
                Gender: <br>
                <input type="radio" name="gender" value="Male" checked> Male |
                <input type="radio" name="gender" value="Female"> Female |
                <input type="radio" name="gender" value="Other"> Other
            </div>
            <div class="info-item" >
                Age <br>
                <input type="text" name="age" maxlength="3" id="" {% if last %}value="{{ last.age }}"{% endif %}>
            </div>
            <div class="info-item">
                Height <br>
                <input type="text" name="height" maxlength="10" {% if last %}value="{{ last.height }}"{% endif %}  id="">cm
            </div>
            <div class="info-item">
                Weight <br>
                <input type="text" name="weight" maxlength="10" {% if last %}value="{{ last.weight }}"{% endif %} id="">kg
            </div>
            <div class="info-item">
                Diet Plan<br>
                <select name="plan">
                    <option>Lose Weight</option>
                    <option>Balanced Diet</option>
                    <option>Weight Gain</option>
                </select>
            </div>
            <div class="info-item">
                Vegetarian?<br>
                <select name="veg" >
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>
            </div>
            <div class="info-item">
                Occupation<br>
                <select name="occupation">
                    <option>Physical Work</option>
                    <option>Office Work</option>
                </select>
            </div>
            <div class="info-item">
                Do you have any Disease? <br>
                <select name="disease">
                    <option>Nope</option>
                    <option>Dibetics</option>
                    <option>Cancer</option>
                    <option>Stroke</option>
                    <option>Cholesterol</option>
                    <option>Cirrhosis</option>
                    <option>High Blood Pressure</option>
                    <option>Heart Disease</option>

                </select>
            </div>
            <div class="info-item">
                Do you have any Food Allergy? <br>
                <select name="allergy">
                    <option>Nope</option>
                    <option>Fish</option>
                    <option>Eggs</option>
                    <option>Milk</option>
                    <option>Tree Nuts</option>
                    <option>Soybeans</option>
                    <option>Wheat</option>
                    <option>Peanut</option>

                </select>
            </div>
            <input type="submit" value="Submit" class="center">

        </div>
    </form>
{% endblock content %}