{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/mom.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet"> 
</head>
<body>
    <header>
        <div class="navbar">
                   <h1>Mother's Zone </h1>
                   <p> A place for pregnent women and young mothers! </p>
        </div>
    </header>   
    <main>
        <div class="fbox">
        
          
            
            <div >
              <br>  <br><br>
            <h2>Edible Foods:</h2>
            <li>Dairy Products</li>
            <li>Legumes </li>
            <li>Peas,Beans</li> 
            <li>Soyabeans,Peanuts</li>
            <li>Sweet Potatoes</li>
            <li>Egg</li>
            <li>Dark Leafy Greens</li>
            <li>Beef, Pork ,Chicken</li>
            <li>Fish Liver Oil</li>
        

        </div>
        <div >
            <br><br><br>
            <h2>Edible Fruits:</h2>
            <li>Apricots </li>
            <li>Oranges</li>
             <li>Mangoes</li>
             <li>Pears</li>
             <li>Pomogranates</li>
             <li>Avocados</li>
             <li>Guava</li>
             <li>Berries</li>
             <li>Dry Fruits</li>

        </div>
        <div>
            <br><br><br>
            <h2>Non-Edible Foods:</h2>
            <li>Shark,Sword fish</li>
            <li>ShellFish</li>
            <li>Undercooked Meat</li>
            <li>Raw Eggs</li>
            <li>Organ Meat</li>
            <li>Caffeine</li>
            <li>Junk Foods</li>
            <li>Alcohol</li>
            <li>Unpasterised Milk</li>
            <li>UnPasterised Chees</li>

        </div>
        <div>
            <br><br><br>
            <h2>Non Edible Fruits</h2>
            <li>Pineapple</li>
            <li>Pappaya</li>
            <li>Bitter Melon</li>
            <li>Tumerind</li>
            <li>Watermelon</li>
            <li></li>
        </div>
    </div>
       
    </main>         
    
</body>
</html>