body {
    background-image: url("../img/p.1a17204bbbc2.png");
    background-position: inherit;
    background-size: cover;
}
header {
    padding: 3%;
}
.navbar {
    text-align: center;
    font-family: "Amaranth";
    color: rgb(224, 8, 44);
}

.diet {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.food {
    position: relative;
    background-color: rgb(60, 210, 70);
    color: white;
    padding: 5px 10px;
    margin: 5px;
    text-align: center;
    box-shadow: inset 0 -1px 2px green;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.food:nth-child(1) {
    animation: zoom-fadein 0.5s both;
    -webkit-animation: zoom-fadein 0.5s both;
}
.food:nth-child(2) {
    animation: zoom-fadein 0.5s 0.25s both;
    -webkit-animation: zoom-fadein 0.5s 0.25s both;
}
.food:nth-child(3) {
    animation: zoom-fadein 0.5s 0.5s both;
    -webkit-animation: zoom-fadein 0.5s 0.5s both;
}
.food h3 {
    background: rgb(220, 60, 60);
    padding: 2px 5px;
    margin: 0 5vw;
    box-shadow: 0 2px 3px darkgreen;
    border-radius: 10px/5px;
    -webkit-border-radius: 10px/5px;
    -moz-border-radius: 10px/5px;
    -ms-border-radius: 10px/5px;
    -o-border-radius: 10px/5px;
}
.food li {
    color: white;
    font-weight: bolder;
    text-shadow: 0 0 5px green;
    font-size: 1.2em;
    text-align: justify;
}

.map {
    font-family: "Ubuntu";
    text-decoration: none;
    text-emphasis: none;
    font-size: 20px;
    display: inline;
    color: white;
}
.map a {
    position: absolute;
    left: 50%;
    margin-top: 15px;
    transform: translateX(-50%);
}
.map a:hover img {
    height: 12vh;
}
.map img {
    margin-left: -8px;
    height: 10vh;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
}
.map p {
    padding: 10px 10px;
    background-color: rgb(137, 7, 189);
    color: white;
    font-size: medium;
    text-align: right;
    display: inline-block;
    border-radius: 15px;
}

@keyframes zoom-fadein {
    from {
        opacity: 0;
        transform: scale(0, 0);
        -webkit-transform: scale(0, 0);
        -moz-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
    }
}

body * {
    animation: fadein 1s;
}
@keyframes fadein {
    from {
        opacity: 0.25;
    }
    to {
        opacity: 1;
    }
}

.bmi-plot svg {
    background: transparent !important;
}
