	/*
  	Flaticon icon font: Flaticon
  	Creation date: 17/03/2020 15:55
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.ab786492752c.eot");
  src: url("./Flaticon.ab786492752c.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.704167ea0262.woff2") format("woff2"),
       url("./Flaticon.16789a352882.woff") format("woff"),
       url("./Flaticon.58cc2f57bf3d.ttf") format("truetype"),
       url("./Flaticon.b95b765d4027.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.b95b765d4027.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 8em;
font-style: normal;
}

.flaticon-dinner:before { content: "\f100"; }
.flaticon-lunch:before { content: "\f101"; }
.flaticon-breakfast:before { content: "\f102"; }