.content{
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    height: 100vh;
    box-shadow:inset 0 0 5px black;
    text-align: center;
    color: dimgray;
    font-size: larger;
}
.content>div{
    margin: 5px;
}

h1{
    color: #5cacff;
    padding: 10px;
    margin: 20px;
    text-shadow: 0 1px 1px midnightblue;
    text-transform: capitalize;
}

.content .date{
    margin: 20vh 20vw;
    box-shadow: 0 0 5px black;
    padding: 20px;
}